

a{
  text-decoration: none;
  color:#A2EBF3;
}
a:hover{
  /* color:#ADEBFB; */
  color:rgb(255, 255, 255);
  text-decoration: none;
}

a>img{
  margin:0 1em;
}
a>img:hover{
  margin-top:-0.2em;
}
a.navbar-brand>img:hover{
  margin-top:0em;
}

ul{
  padding:0;
}
li{
  list-style-type:none;
  padding:0 0.2em;
  font-family: 'Sunflower', sans-serif; 
}

li >p {
  margin:0;

}
li>span{
  color:rgb(81, 142, 153);
}
.nav-item{
  color:#A2EBF3;
}
.nav-item:hover{
  color:white;
}

.nav-link{
  font-family: 'Sunflower', sans-serif; 
}

.navbar-dark{
  background-color: black;
  padding-top:0.25em;
  padding-bottom: 0.25em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37), 0 6px 12px 0 rgba(0,0,0,.3)
}


