

a{
  /* color:#ADEBFB; */
  color:#A2EBF3;
}
a{
  /* color:white; */
  text-decoration: none;
}
ul{
  padding:0;
}
li{
  list-style-type:none;
  padding:0 0.2em;
  font-family: 'Sunflower', sans-serif; 

}
li >p {
  margin:0;

}
li>span{
  color:#A2EBF3;
}

.nav-link{
  font-family: 'Sunflower', sans-serif; 
}

.navbar-dark{
  background-color: black;
  padding-top:0.25em;
  padding-bottom: 0.25em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37), 0 6px 12px 0 rgba(0,0,0,.3)
}


h5{
  color:  rgb(240, 182, 111);
  background-color: #6a574c;
}

