
.card-img-top{
  max-width: 5em;
  margin: auto;
  margin-top: 2em;
}

#dashJumbo{
  padding:2em 0 1em 0;
}
#dashJumbo>h3{
  margin-bottom: 1em;
  color:white;
}
.card-body>h4{
  margin-bottom: 1em;
  color:white;
  font-family: 'Sunflower', sans-serif; 
}

.card-body{
  padding:0.5em 0.1em !important;
  margin:1em 0 1em 0!important;
  background-color: #7a9fac;
}

.card-body>ul>.alert-info{
  padding:0.2em !important;
  margin:0.8em 0.2em!important;
}
.card-body>ul>.alert-info>li{
  padding:0.1em !important;
  margin:0.1em !important;
}
.card-body>ul>.alert-info>li>p>a{
  color:#499ab3;
}

@media (max-width: 1050px) {

  #dashJumbo>h3{
    margin-bottom: 2em !important;
    padding-top: 1em !important;
  }
  .card-body>ul>.alert-info{
    padding:0.2em !important;
    margin:0.2em !important;
  }
  .card-body>ul>.alert-info>li{
    padding:0.1em !important;
    margin:0.1em !important;
  }

}


@media(max-width:768px){
  .card{
    font-size:0.9em;
  }

  .card-body>ul>.alert-info{
    padding:0.2em !important;
    margin:0.2em !important;
  }
  .card-body>ul>.alert-info>li{
    padding:0.1em !important;
    margin:0.1em !important;
  }

}

@media (max-width: 640px) {


}