.btn-info {
  opacity:0.8 !important;
  background-color: #A2EBF3 !important;
  border: 0.2em rgb(79, 79, 79) solid !important;
  padding: 0.3em 1.2em 0 1.2em !important;
  color:rgb(79, 79, 79)!important;
  margin-top: 3em !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16), 0 4px 10px 0 rgba(0,0,0,.12);
  font-family: 'Sunflower', sans-serif; 
  border-radius: 0.4em;
}

