.btn-info {
  opacity:0.8 !important;
  background-color: #A2EBF3 !important;
  border: 0.15em rgb(79, 79, 79) solid !important;
  color:rgb(79, 79, 79)!important;
  margin-top: 3em !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16), 0 4px 10px 0 rgba(0,0,0,.12);
  font-family: 'Sunflower', sans-serif; 
  border-radius: 0.4em;
}

#signupOn{
  font-size: 1.25em;
  padding: 0.3em 1.2em 0.2em 1.2em;
  margin-top: 3em !important;
  border: 0.15em rgb(79, 79, 79) solid !important;
}
#signupOn:hover{
  background-color: rgb(76, 113, 126) !important;
  font-size: 1.25em;
  color:#A2EBF3 !important;
  border: 0.15em #A2EBF3 solid !important;
  padding: 0.3em 1.2em 0.2em 1.2em;
}